.header {
    height: 70px;
    background-color: #333333;
}
.headerList {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
}
.headerList > li {
    
}
.headerList > li + li {
    margin-left: 10px;
}
.headerList > li > a {
    text-decoration: none;
    color: #FFFFFF;
}